# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "94d485df57e0ed79b73d474eb29c60ba"
name = "Beam Bundle Item UI"
application_url = "https://shopify.dev/apps/default-app-home"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = ""

[auth]
redirect_urls = [ "https://shopify.dev/apps/default-app-home/api/auth" ]
